site_name: Future Home of The UnAd
site_url: https://theunad.com
remote_branch: gh-pages
repo_url: https://github.com/The-UnAd/the-unad.github.io
repo_name: the-unad.github.io
remote_name: origin

nav:
  - index.md

theme:
  name: material
  features:
    - navigation.tracking
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - admonition
  - footnotes
  - attr_list
  - toc:
      permalink: True
