---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Get Started Today!" id="call-to-action">
  <Fragment slot="lead">
    Ready to <span class="text-primary">revolutionize your marketing</span>?
    Take the hassle out of reaching your customers and unlock the power of simplicity with UnAd.
    Elevate your business with ease – click below to get started and watch your success unfold!</Fragment>
  <div class="grid grid-cols-1 sm:grid-cols-1">
    <a
      href="https://unad.tech/register"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket-launch" class="h-8" />
      <span>Register Your Account</span>
    </a>
  </div>
</ContentSection>
