---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { HowItWorksStep } from "~/types";

const steps: Array<HowItWorksStep> = [
  {
    title: "Sign Up",
    description:
      "Simply enter your phone number and business name to get started.",
    icon: "mdi:form-textbox",
  },
  {
    title: "Pay",
    description:
      "Choose a product tier and enter your payment info to start your free trial.",
    icon: "mdi:currency-usd",
  },
  {
    title: "Share Link",
    description:
      "Receive a link to share with your customers. You can post it anywhere online, or just share it directly with your customers in person.",
    icon: "mdi:share",
  },
  {
    title: "Send Messages",
    description:
      "Text back the number you received your one-time code from and start sending messages to your customers.",
    icon: "mdi:message-alert-outline",
  },
];
---

<ContentSection title="How It Works" id="how-it-works">
  <Fragment slot="lead">
    It only takes a few minutes to get started.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1">
    {
      steps.map(({ title, description, icon }) => (
        <li class="flex items-start gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 p-3">
            <Icon name={icon} />
          </div>
          <div class="flex flex-col">
            <p class="font-extrabold text-xl">{title}</p>
            <p class="text-offset text-sm">{description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</ContentSection>
