---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import { t } from "astro-i18n";
---

<ContentSection title={t('how-it-works.title')} id="how-it-works">
  <Fragment slot="lead">
    {t('how-it-works.lead')}
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1">
    {
      [...new Array(3).keys()].map((i) => (
        <li class="flex items-start gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 p-3">
            <Icon name={t(`how-it-works.steps.${i}.icon`)} class="text-4xl"/>
          </div>
          <div class="flex flex-col">
            <p class="font-extrabold text-xl">{t(`how-it-works.steps.${i}.title`)}</p>
            <p class="text-offset text-sm">{t(`how-it-works.steps.${i}.description`)}</p>
          </div>
        </li>
      ))
    }
  </ul>
</ContentSection>
