---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import { t } from "astro-i18n"
---

<ContentSection title={t("intro.title")} id="intro">
  <Fragment slot="lead">
    {t("intro.lead")}
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#how-it-works"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="h-8 text-xl" />
      <span>{t('intro.buttons.howItWorks')}</span>
    </a>
    <a
      href="https://signup.unad.dev/register"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="h-8 text-xl" />
      <span>{t('intro.buttons.tryItOut')}</span>
    </a>
  </div>
</ContentSection>
