---
import { t } from "astro-i18n";
---
<section
  id="name-explainer"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <h2 class="gradient-text text-center font-bold tracking-tight text-4xl">
      { t("name-explainer.title") }
    </h2>
  </div>
  <p class="text-large max-w-4xl text-center">
    { t("name-explainer.description") }
  </p>
</section>
